@charset "UTF-8";
:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: Raleway, sans-serif;
  --accent-color: #ff6c00;
  --primary-text-color-theme-dark: #9da4bd;
  --primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #303030;
  --transition: 250ms linear;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*Text*/
/*виклик @include font*/
/*flex*/
/*center*/
/*::after, ::before*/
/*??????*/
/*
@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
*/
/*Загальні*/
/*мінімальний скид*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-weight: 600;
}

.container {
  /*Усього ширина контейнера 1170, збыльшино її на 30 (додано padding) */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.btn {
  /*---YES---*/
  border: var(--accent-color) solid 1px;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  /*---end YES---*/
}
.btn:hover, .btn:focus {
  color: var(--secondary-text-color-theme-dark);
  background-color: var(--accent-color);
}

.btn_theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.btn_theme-light {
  color: var(--secondary-text-color-theme-light);
}

/*---Instagram, Youtube----*/
.media-list {
  /*YES*/
  display: flex;
  align-items: center;
  /*end YES*/
}
.media-list::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background: var(--secondary-text-color-theme-light);
  flex-shrink: 0;
}

.media-list__item:not(:last-child) {
  margin-right: 40px;
}

.media-list__link {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-theme-light);
  transition: color var(--transition);
}
.media-list__link:hover, .media-list__link:focus {
  color: var(--accent-color);
}

.section-title {
  /*----YES----*/
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  /*----YES----*/
  color: var(--secondary-text-color-theme-light);
}

.section-title_dark {
  margin-bottom: 44px;
  color: var(--secondary-text-color-theme-dark);
}

.suptitle {
  /*----YES----*/
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  /*----end YES----*/
  color: var(--secondary-text-color-theme-light);
}
.suptitle::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--secondary-text-color-theme-light);
}

.suptitle_theme-dark {
  /*yes*/
  color: var(--primary-text-color-theme-dark);
  /*yes*/
}
.suptitle_theme-dark::before {
  background-color: #9da4bd;
}

.suptitle_theme-light {
  color: #303030;
}

.section-description {
  /*---YES----*/
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
  /*---YES----*/
}

.section-description:not(:last-child) {
  margin-bottom: 20px;
}

.section-description_light {
  color: var(--primary-text-color-theme-light);
}

.backdrop {
  z-index: 10;
  /*yes*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(157, 164, 189, 0.5);
  transition: opacity var(--transition), visibility var(--transition);
  /*end yes*/
}

.is-hidden {
  opacity: 0; /*робе елементи прозорими, та інтерактивні елементи можна не зникають*/
  visibility: hidden; /*цей сховає елементи від мишки та ін.*/
  pointer-events: none; /*щоб можна було клацнути через бекдроп (невидемий), дозволити пропускати через нього дії*/
}

.modal {
  /*yes*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--secondary-text-color-theme-dark);
  padding: 40px;
  /*end yes*/
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  fill: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  cursor: pointer;
  transition: fill var(--transition);
}
.btn-close:hover {
  fill: var(--accent-color);
}
.btn-close:focus {
  outline-color: var(--accent-color);
}

.icon-cross {
  height: 15px;
}

.bd-form__title {
  /*yes*/
  font-size: 18px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  /*end yes*/
  display: block;
}

.bd-form {
  /*yes*/
  display: flex;
  flex-direction: column;
  /*end yes*/
}

.bd-form__label {
  /*yes*/
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
  /*стилі для тексту які приміняться до "Ім'я", ...*/
  margin-bottom: 10px;
  /*end yes*/
}

.bd-form__input-wrapper {
  position: relative;
  display: block;
}

.bd-form__input {
  /*yes*/
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  transition: border-color var(--transition);
  /*end yes*/
}
.bd-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.bd-form__input:focus + .bd-form-icon {
  /* + селектор першого сусіда зверху*/
  fill: var(--accent-color);
}
.bd-form__input:not(:placeholder-shown):valid {
  border-color: green;
}
.bd-form__input:not(:placeholder-shown):invalid {
  border-color: red;
}

.bd-form__icon {
  /*yes*/
  /*display: block;*/
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill var(--transition);
  /*end yes*/
}

.bd-form__message {
  /*yes*/
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--transition);
  /*end yes*/
}
.bd-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.bd-form__message::placeholder {
  color: var(--primary-text-color-theme-dark);
  text-transform: uppercase;
}

/*створення кастомного checkbox (befor на label(замінить оригінальний checkbox), на checkbox клас visualy-hidden)*/
.bd-form__checkbox {
  /*стандартний чекбокс схований (visually-hidden)*/
}

.bd-form__checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 30px;
}
.bd-form__checkbox-label::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid grey;
  border-radius: 4px;
  margin-right: 7px;
}
.bd-form__checkbox:focus + .bd-form__checkbox-label::before {
  outline: 1px solid var(--accent-color);
  border-color: transparent;
}
.bd-form__checkbox:checked + .bd-form__checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url("../imeges/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-color: transparent;
  outline: none;
}

.bd__btn {
  margin: 0 auto;
}
.bd__btn:focus {
  outline-color: transparent;
}

.icon-arrow-up {
  position: fixed;
  right: 10px;
  bottom: 50px;
}

.arrow-up-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 60%;
  background-color: hsla(0, 0%, 33%, 0.5);
  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.arrow-up-link:hover, .arrow-up-link:focus {
  background-color: hsla(0, 0%, 33%, 0.8);
  transform: scale(1.05);
}

.arrow-up {
  width: 20px;
  height: 20px;
  fill: var(--secondary-text-color-theme-dark);
}

.header {
  /*yes*/
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  /*end yes*/
  /*для прилипання хедера до верху сторінки
      position: fixed;
    width: 100%;
  */
}

.header__container {
  /*YES*/
  display: flex;
  align-items: center;
}

.nav {
  /*YES*/
  display: flex;
  align-items: center;
}

/*.logo {
}*/
.header__logo {
  margin-right: 70px;
  animation-duration: 2000ms; /*тривалість*/
  animation-timing-function: linear; /*розподіл часу для анімації*/
  animation-delay: 1000ms; /*затримка*/
  animation-iteration-count: 3; /*повторення*/
}

.menu {
  /*YES*/
  display: flex;
  align-items: center;
}

.menu__item {
  /*display: inline-block;*/
}
.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu__link {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color-theme-dark);
  transition: color var(--transition);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}
.menu__link::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  opacity: 0;
  transform: scalex(0.1);
  transition: opacity 250ms linear, transform 250ms linear 50ms;
}
.menu__link:hover::after {
  /*при ховері для ::after*/
  opacity: 1;
  transform: scalex(1);
}

.contact-phone-number {
  /*---YES---*/
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 40px;
  /*---end YES---*/
  color: var(--secondary-text-color-theme-dark);
  transition: color var(--transition);
}
.contact-phone-number:hover, .contact-phone-number:focus {
  color: var(--accent-color);
}

.hero__container {
  /*yes*/
  display: flex;
  /*end yes*/
}

.hero__left-side {
  /*yes*/
  display: flex;
  align-items: flex-end;
  width: 100px;
  padding-left: 34px;
  padding-bottom: 40px;
  /*end yes*/
}

.hero__media-list {
  /*yes*/
  transform-origin: left top; /*стосовно чого здійснюємо обертання*/
  transform: rotate(-90deg) translateX(-18px); /*відмінусоват висоту елементу в неперевернутому стані*/
  /*end yes*/
}

.hero__right-side {
  /*yes*/
  flex-grow: 1; /*щоб зайняло більше місця*/
  padding-top: 272px; /*з урахуванням хедеру, що вийнятий з потоку*/
  padding-bottom: 206px;
  padding-left: 100px;
  background-color: var(--secondary-text-color-theme-light);
  background-image: linear-gradient(rgba(38, 25, 27, 0.2), rgba(25, 28, 38, 0.2)), url(../imeges/hero/hero-img\ 3.jpg);
  background-size: cover;
  /*end yes*/
  background-repeat: no-repeat;
  background-position: right bottom;
}

.hero__title {
  /*yes*/
  font-family: var(--secondary-font);
  font-size: 72px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: var(--secondary-text-color-theme-dark);
  /*end yes*/
}

.about__container {
  display: flex;
}

.about__left-side {
  margin-right: 64px;
}

.about__gallery {
  display: flex;
}

.about__gallery-item:not(:last-child) {
  margin-right: 30px;
}

.about__suptitle {
  /*для ::before */
  /*align-items: center;
    display: flex;
  */
  line-height: 1.18;
  color: var(--secondary-text-color-theme-light);
}

.about__text {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}

.services {
  /*yes*/
  background-image: url(../imeges/services/services.png);
  background-color: #111319;
  background-size: cover;
  /*end yes*/
}

/*
.services-table-container {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-evenly;
}
.services-table-name,
.services-table-price {
  @include font($fs: 18px, $fw: 400, $lh: 1.67);
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
*/
.services__list-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.services__list {
  /*yes*/
  flex-basis: 50%;
  padding: 30px 40px;
  /*border: 1px solid var(--secondary-text-color-theme-light);*/
  /*end yes*/
}
.services__list:nth-child(2n+1) {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.services__list:nth-child(2n) {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services__list-item {
  /*yes*/
  display: flex;
  justify-content: space-between;
  /*end yes*/
  padding-top: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
.services__list-item:nth-child(1) {
  padding-top: 0;
}

.services__list-name {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-grow: 1;
}
.services__list-name::after {
  flex-grow: 1;
  display: block;
  content: "";
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.services__btn {
  display: block;
  margin: 0 auto;
}

.advantages__container {
  display: flex;
}

.advantages__left-side {
  padding-left: 100px;
  margin-right: 130px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.advantages__list-item {
  box-sizing: border-box;
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-top: 30px;
  padding: 20px;
  background-color: #f7f7f7;
}
.advantages__list-item:nth-child(odd) {
  transform: translateY(-9px);
}
.advantages__list-item:nth-child(even) {
  transform: translateY(20px);
}

.advantages__list-quantity {
  position: relative;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
}
.advantages__list-quantity span {
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  text-align: start;
  color: var(--accent-color);
}

.advantages__list-description {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
}

.employees__section {
  background-color: #f7f7f7;
}

.employees__title {
  /*-----YES------*/
  margin-bottom: 44px;
  /*---end YES------*/
}

.employees__list {
  /*YES*/
  /*сітка*/
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  /*end YES*/
  /*якщо без сітки то достатньо
   display: flex;
  justify-content: space-between;
  */
}

.employees__card {
  /*YES*/
  /*сітка*/
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  /*end YES*/
}

.employees__wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 30px;
}
.employees__wrapper:hover .overlay, .employees__wrapper:focus .overlay {
  transform: translate(0px, 0px);
}

/*----*/
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0px, 100%);
  min-height: 100%;
  overflow-y: auto; /*для преповнюваного контенту*/
  font-size: 16px;
  font-weight: 600;
  line-height: 1.86;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
  background-color: hsla(189, 40%, 93%, 0.5);
  padding: 20px;
  transition: transform var(--transition);
}

.employees__name {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
}

.employees__position {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
}

.employees__social-list {
  /*часто, все що під фото, групують у дів і додють йому падінги, а на ul - space-between*/
  display: flex;
  justify-content: center;
}

.employees__social-item:not(:last-child) {
  margin-right: 10px;
}

.employees__social-link {
  /*yes*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-text-color-theme-dark);
  fill: var(--secondary-text-color-theme-light);
  transition: fill var(--transition), background-color var(--transition);
  /*end yes*/
}
.employees__social-link:hover, .employees__social-link:focus {
  fill: var(--accent-color);
  background-color: var(--primary-text-color-theme-light);
}

.social__icon {
  /*yes*/
  width: 20px;
  height: 20px;
  /*end yes*/
}

.gallery__suptitle {
  margin-bottom: 44px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  /*сітка*/
  margin-left: -30px;
  margin-top: -30px;
}

/*? calc*/
.gallery__list-item {
  /* сітка, +мінусові margen у батька*/
  padding-left: 30px;
  padding-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.feedback {
  background-color: #191c26;
}

.feedback__container {
  display: flex;
}

/*Contact Form*/
.feedback-form {
  width: 640px;
  padding-left: 40px;
  padding-top: 130px;
  padding-bottom: 130px;
}

.contact-form {
  width: 560px;
  margin-right: 40px;
}

.contact-form__wraper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 44px;
}

.contact-form__label {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--primary-text-color-theme-light);
}
.contact-form__label:not(:last-child) {
  margin-right: 30px;
}

.contact-form__input {
  width: 260px;
  height: 24px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--primary-text-color-theme-dark);
}
.contact-form__input:focus {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.18;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color-theme-dark);
  outline: none;
}
.contact-form__input:not(:placeholder-shown):valid {
  border-color: green;
}
.contact-form__input:not(:placeholder-shown):invalid {
  border-color: red;
}

.contact-form__textarea {
  width: 100%;
  height: 76px;
  margin-bottom: 44px;
  resize: none;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--primary-text-color-theme-dark);
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
}
.contact-form__textarea::placeholder {
  text-transform: uppercase;
}
.contact-form__textarea:focus {
  outline: none;
}

.contact-info {
  width: 610px;
  padding-left: 100px;
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: url(../imeges/contact/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-info__title {
  margin-bottom: 40px;
}

.contact-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.contact-info__item:last-child {
  margin-bottom: 70px;
}

.contact-info__icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-text-color-theme-dark);
  margin-right: 16px;
}

.contact-info__link,
.contact-info__date {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

.contact-info__suptitle {
  margin-bottom: 22px;
  color: var(--secondary-text-color-theme-dark);
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f7f7f7;
}

.copyright {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}/*# sourceMappingURL=main.css.map */