.contact-section {
  background-color: #191c26;
  background-image: url(../imeges/contact/contact-bg.png);

  background-repeat: no-repeat;
  /*неправильно исправить*/
  background-position: 620px 0;
  background-size: contain;
}
.contact {
  display: flex;
}

/*Contact Form*/
.contact-form-section {
  width: 640px;
  padding-left: 40px;
}
.form {
  width: 560px;
  margin-right: 40px;
}
.form-wraper {
  display: flex;
  justify-content: space-around;

  width: 100%;
  margin-bottom: 44px;
}
.form-label {
  @include font($fw: 600);
  letter-spacing: 0.1em;
  color: var(--text-grey);

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.form-input {
  width: 260px;
  height: 24px;
  border: none;
  border-bottom: 1px solid #9da4bd66;
  background-color: transparent;

  @include font($fw: 600);
  letter-spacing: 0.1em;
  color: var(--text-grey);

  &:focus {
    @include font($fw: 600, $lh: 1.18);
    letter-spacing: 0.1em;
    color: var(--primary-white-color);
    outline: none;
  }

  &:not(:placeholder-shown):valid {
    border-color: green;
  }
  &:not(:placeholder-shown):invalid {
    border-color: red;
  }
}

.form-textarea {
  width: 100%;
  height: 76px;
  margin-bottom: 44px;
  resize: none;

  @include font($fw: 600);
  letter-spacing: 0.1em;
  color: var(--text-grey);

  border: none;
  border-bottom: 1px solid #9da4bd66;
  background-color: transparent;

  &::placeholder {
    text-transform: uppercase;
  }
  &:focus {
    outline: none;
  }
}
