.footer__container {
  @include flex-center-vert;
  justify-content: space-between;

  padding-top: 56px;
  padding-bottom: 56px;

  background-color: #f7f7f7;
}

.copyright {
  @include font($fw: 600);
  letter-spacing: 0.2em;
  color: var(--text-grey);
}
