.gallery__suptitle {
  margin-bottom: 44px;
}
.gallery__list {
  display: flex;
  flex-wrap: wrap;

  /*сітка*/
  margin-left: -30px;
  margin-top: -30px;
}
/*? calc*/
.gallery__list-item {
  /* сітка, +мінусові margen у батька*/
  padding-left: 30px;
  padding-top: 30px;
  flex-basis: calc((100% - 30px * 4) / 4);
}
