.header {
  /*yes*/
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  /*end yes*/

  /*для прилипання хедера до верху сторінки
      position: fixed;
    width: 100%;
  */
}
.header__container {
  /*YES*/
  @include flex-center-vert;
}
.nav {
  /*YES*/
  @include flex-center-vert;
}

/*.logo {
}*/
.header__logo {
  margin-right: 70px;
  animation-duration: 2000ms; /*тривалість*/
  animation-timing-function: linear; /*розподіл часу для анімації*/
  animation-delay: 1000ms; /*затримка*/
  animation-iteration-count: 3; /*повторення*/
}
.menu {
  /*YES*/
  @include flex-center-vert;
}
.menu__item {
  /*display: inline-block;*/

  &:not(:last-child) {
    margin-right: 40px;
  }
}
.menu__link {
  display: inline-block;

  @include font($fs: 12px, $fw: 600, $lh: 1.33);
  letter-spacing: 0.1em;
  color: var(--primary-white-color);
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &::after {
    @include pseudo;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
    opacity: 0;
    transform: scalex(0.1);
    transition: opacity 250ms linear, transform 250ms linear 50ms;
  }
  &:hover::after {
    /*при ховері для ::after*/
    opacity: 1;
    transform: scalex(1);
  }
}

.contact-phone-number {
  /*---YES---*/
  @include font($fs: 12px, $fw: 600, $lh: 1.33);
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 40px;
  /*---end YES---*/

  color: var(--primary-white-color);

  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
