.section-description {
  /*---YES----*/
  @include font($fs: 18px, $lh: 1.67);
  letter-spacing: 0.02em;
  color: var(--text-grey);
  /*---YES----*/
}

.section-description:not(:last-child) {
  margin-bottom: 20px;
}
.section-description_light {
  color: var(--text-p);
}
