/*---Instagram, Youtube----*/
.media-list {
  /*YES*/
  display: flex;
  align-items: center;

  /*end YES*/

  &::before {
    display: block;
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background: var(--primary-text-color);
    flex-shrink: 0;
  }
}

.media-list-item:not(:last-child) {
  margin-right: 40px;
}

.media-list-link {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--primary-text-color);

  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
