.modal {
  /*yes*/
  @include position;

  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  padding: 40px;
  /*end yes*/

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;

  @include flex-center-vert;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  fill: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  cursor: pointer;
  transition: fill var(--transition);

  &:hover {
    fill: var(--accent-color);
  }
  &:focus {
    outline-color: var(--accent-color);
  }
}
.icon-cross {
  height: 15px;
}
