.icon-arrow-up {
  position: fixed;
  right: 10px;
  bottom: 50px;
}
.arrow-up-link {
  @include flex-center;

  width: 40px;
  height: 40px;
  border-radius: 60%;
  background-color: hsla(0, 0%, 33%, 0.5);

  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    background-color: hsla(0, 0%, 33%, 0.8);
    transform: scale(1.05);
  }
}
.arrow-up {
  width: 20px;
  height: 20px;
  fill: var(--secondary-text-color-theme-dark);
}
