.suptitle {
  /*----YES----*/
  @include flex-center-vert;

  @include font($fw: 600);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: var(--primary-text-color);
  }
  /*----end YES----*/

  color: var(--primary-text-color);
}
.suptitle-theme-dark {
  /*yes*/
  color: var(--text-grey);

  &::before {
    background-color: #9da4bd;
  }
  /*yes*/
}
.suptitle-theme-light {
  color: #303030;
}
