.section-title {
  /*----YES----*/
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  /*----YES----*/

  color: var(--primary-text-color);
}
.section-title-dark {
  margin-bottom: 44px;
  color: var(--primary-white-color);
}
