.section-title {
  /*----YES----*/
  font-family: Raleway;

  @include font(42px, 700, 1.17);
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  /*----YES----*/

  color: var(--primary-text-color);
}
.section-title_dark {
  margin-bottom: 44px;
  color: var(--primary-white-color);
}
