:root {
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: Raleway, sans-serif;
  --primary-text-color: #303030;
  --accent-color: #ff6c00;
  --primary-white-color: #ffffff;
  --text-grey: #9da4bd;
  --text-p: #555555;
  --transition: 250ms linear;
}
